<a href="https://colab.research.google.com/github/bongkyunSON/Project/blob/main/A1_project_230103.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
base_path = '/content/drive/MyDrive/Colab Notebooks/Project/data/A1/'
ex = pd.read_csv(base_path + 'example.csv')
log = pd.read_csv(base_path + 'log_csv.csv')
bidding = pd.read_csv(base_path + 'bidding_result.csv')

In [3]:
ex

,index,Impression,Click,Cost,Sum of AD rank,ON/OFF,Bid,Price(PC),Price(Mobile),Delivery Fee,Category1,Category2,Category3,Category4,date
0,1101450552,3,0,0.0,3.000000,0,50,165900,165900,0,가구/인테리어,침실가구,장롱/붙박이장,드레스룸,20221031
1,2570058918,6,0,0.0,3.333333,0,50,10900,10900,0,가구/인테리어,인테리어소품,아로마/캔들용품,아로마방향제/디퓨저,20221031
2,3682585180,7,0,0.0,8.000000,0,50,255000,255000,-1,가구/인테리어,거실가구,소파,패브릭소파,20221031
3,1657183311,36,3,150.0,4.416667,0,140,190000,190000,20000,가구/인테리어,아동/주니어가구,책상의자세트,NaN,20221031
4,2209577784,224,0,0.0,5.696429,0,50,129000,129000,0,가구/인테리어,아동/주니어가구,책상,NaN,20221031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3703223720,26,1,50.0,1.000000,0,50,52000,52000,3000,스포츠/레저,캠핑,기타캠핑용품,NaN,20221031
96,2592260104,53,0,0.0,3.113208,0,50,128000,128000,5000,스포츠/레저,캠핑,타프,NaN,20221031
97,555484311,30,0,0.0,12.200000,0,50,49900,49900,0,스포츠/레저,캠핑,캠핑가구,파라솔,20221031
98,2221937268,74,0,0.0,3.391892,0,50,94800,94800,10000,스포츠/레저,캠핑,타프,NaN,20221031
99,4443897048,95,0,0.0,1.778947,0,50,18900,18900,0,생활/건강,수납/정리용품,바구니,NaN,20221031

In [4]:
log

,Unnamed: 0,uid,action_type,category1,category2,category3,collect_time,geoip_city_name,useragent_os,viewrate,viewtime
0,0,avpKyWMn/xEADNlb,View,주방용품,그릇·홈세트,식판·나눔접시,2022-12-29 17:29:02,Seongnam-si,Windows,100.0,80033
1,1,0+5vEmGkOuAAB5j2,Basket,패브릭,매트,주방·다용도매트,2022-12-29 12:56:38,Yongin-si,Windows,0.0,0
2,2,r8DXy2OtSl8AAojG,View,패브릭,커튼·부자재,암막커튼,2022-12-29 17:11:30,Seoul,iOS,100.0,947
3,3,dC9Fl2Ly9lcADrTn,Highlight,데코·식물,플라워·식물,화병·화분,2022-12-29 17:54:30,Gwangmyeong-si,Windows,0.0,0
4,4,09gKcGLg0I8ACyQy,View,가구,진열장·책장,책장,2022-12-29 18:45:05,Jongno-gu,Mac OS X,100.0,1238
...,...,...,...,...,...,...,...,...,...,...,...
5659536,5659536,PUpxWWMWdcIACR2B,View,주방용품,칼·커팅기구,채칼·다지기·강판,2022-12-28 20:01:30,Seoul,Android,100.0,13893
5659537,5659537,PVMstmNg4I4ADq9R,Basket,가구,진열장·책장,책장,2022-12-28 14:30:09,Jinju,Windows,0.0,0
5659538,5659538,diRXdmN49dUABrVo,View,가구,테이블·식탁·책상,식탁,2022-12-29 12:45:13,Gunpo,Android,100.0,47217
5659539,5659539,dusFzWJvp5cADhZW,View,가전·디지털,계절가전,전기히터·온풍기,2022-12-28 11:07:30,Seoul,Android,100.0,54030
5659540,5659540,bgy5ZGOszc4ADrmd,View,가구,화장대·콘솔,일반화장대,2022-12-29 08:14:39,Iksan,iOS,0.0,0

In [5]:
bidding

,Unnamed: 0,index,Impression,Click,Cost,Sum of AD rank,ON/OFF,Bid,Category Name 1,Category Name 2,Category Name 3,Category Name 4,date
0,0,91726046,12,0,0,3.000000,0,100,가구/인테리어,침실가구,장롱/붙박이장,드레스룸,20221031
1,1,91726318,12,0,0,3.333333,0,100,가구/인테리어,인테리어소품,아로마/캔들용품,아로마방향제/디퓨저,20221031
2,2,92003128,14,0,0,8.000000,0,100,가구/인테리어,거실가구,소파,패브릭소파,20221031
3,3,92004238,144,15,4200,4.416667,0,280,가구/인테리어,아동/주니어가구,책상의자세트,NaN,20221031
4,4,92004240,1120,0,0,5.696429,0,400,가구/인테리어,아동/주니어가구,책상,NaN,20221031
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1136958,1136958,110619184,34,2,600,11.588235,0,300,가구/인테리어,인테리어소품,조명,인테리어조명,20221227
1136959,1136959,110619184,38,0,0,11.526316,0,300,가구/인테리어,인테리어소품,조명,인테리어조명,20221227
1136960,1136960,110619186,136,0,0,7.500000,0,200,가구/인테리어,인테리어소품,조명,인테리어조명,20221227
1136961,1136961,110619186,480,0,0,8.783333,0,300,가구/인테리어,인테리어소품,조명,인테리어조명,20221227
1136962,1136962,110619186,8,0,0,1.250000,0,200,가구/인테리어,인테리어소품,스탠드,단스탠드,20221227

action_type은 해당 유저가 한 행동을 의미합니다.

 - 유저가 하는 행동중 추적 가능한 행동은 
 - ‘View', 'Basket', 'Highlight', 'Copy', 'SINF'
 - View : 페이지 방문
 - Basket : 장바구니 버튼 
 - Highlight : 드래그 이벤트 발생 
 - Copy:  복사 이벤트 발생
 - SINF : 광고 유입을 통한 입장

Viewrate는 유저가 페이지에서 확인한 내용들을 의미

viewtime은 유저가 페이지에 머문 시간을 의미합니다 (단위 ms)



bidding_result.csv 파일은 해당 이커머스 사이트에 대한 온라인 광고 집행 내역드리며

12월 22일 부터 24일 데이터 같은 경우는 빠져있음을 알려드립니다. (원래 공유 드리고 싶었던 데이터)

**저희가 데이터 마다 주목하는 부분이 조금씩 다른데.**



 우선 로그 데이터에서는 (log_csv)

 - 로그 데이터 정리 및 uid에 따른 각종 지표 정리 및 대시보드 구축 
 - 예시 : DAU, Active User, 퍼널 분석 
 - 데이터를 통한 유저 인사이트 제공 및 새로운 기획전 구축 전략 수립 

bidding_result에서는 

 - 목표된 예산 카테고리별, 고유 index 별 클릭 최적화 로직 구성 -> log.csv 파일도 같이  이용
 - 일 예산 (100만원)
 - 입찰 결과를 종합할수 있는 대시보드

In [6]:
print('Features:', log.shape[1], ';', 'Entries:', log.shape[0])

Features: 11 ; Entries: 5659541

In [20]:
log.columns

Index(['Unnamed: 0', 'uid', 'action_type', 'category1', 'category2',
       'category3', 'collect_time', 'geoip_city_name', 'useragent_os',
       'viewrate', 'viewtime'],
      dtype='object')

In [21]:
def descriptive_info(log):
    number_of_cells = log.count(axis=0, level=None, numeric_only=False)
    print('Total number of cells the datafile has: \n' + str(number_of_cells))
    print('\n')
    print('Printing descriptive statistics...\n\n', log.describe())

In [22]:
descriptive_info(log)

Total number of cells the datafile has:
Unnamed: 0         5659541
uid                5473228
action_type        5659541
category1          5659541
category2          5659541
category3          4879535
collect_time       5659541
geoip_city_name    5242509
useragent_os       5659541
viewrate           5657112
viewtime           5659541
dtype: int64


Printing descriptive statistics...

          Unnamed: 0      viewrate      viewtime
count  5.659541e+06  5.657112e+06  5.659541e+06
mean   2.829770e+06  7.677686e+01  5.126022e+04
std    1.633769e+06  4.221447e+01  5.810345e+05
min    0.000000e+00  0.000000e+00  0.000000e+00
25%    1.414885e+06  1.000000e+02  8.940000e+02
50%    2.829770e+06  1.000000e+02  1.010400e+04
75%    4.244655e+06  1.000000e+02  4.800500e+04
max    5.659540e+06  1.000000e+02  8.636989e+07

In [23]:
def _trans_date_time(log):
    log.index = pd.to_datetime(log['collect_time'], infer_datetime_format=True)
    log.drop('collect_time', axis=1, inplace=True)
    return log

In [24]:
_trans_date_time(log)

,Unnamed: 0,uid,action_type,category1,category2,category3,geoip_city_name,useragent_os,viewrate,viewtime
collect_time,,,,,,,,,,
2022-12-29 17:29:02,0,avpKyWMn/xEADNlb,View,주방용품,그릇·홈세트,식판·나눔접시,Seongnam-si,Windows,100.0,80033
2022-12-29 12:56:38,1,0+5vEmGkOuAAB5j2,Basket,패브릭,매트,주방·다용도매트,Yongin-si,Windows,0.0,0
2022-12-29 17:11:30,2,r8DXy2OtSl8AAojG,View,패브릭,커튼·부자재,암막커튼,Seoul,iOS,100.0,947
2022-12-29 17:54:30,3,dC9Fl2Ly9lcADrTn,Highlight,데코·식물,플라워·식물,화병·화분,Gwangmyeong-si,Windows,0.0,0
2022-12-29 18:45:05,4,09gKcGLg0I8ACyQy,View,가구,진열장·책장,책장,Jongno-gu,Mac OS X,100.0,1238
...,...,...,...,...,...,...,...,...,...,...
2022-12-28 20:01:30,5659536,PUpxWWMWdcIACR2B,View,주방용품,칼·커팅기구,채칼·다지기·강판,Seoul,Android,100.0,13893
2022-12-28 14:30:09,5659537,PVMstmNg4I4ADq9R,Basket,가구,진열장·책장,책장,Jinju,Windows,0.0,0
2022-12-29 12:45:13,5659538,diRXdmN49dUABrVo,View,가구,테이블·식탁·책상,식탁,Gunpo,Android,100.0,47217
2022-12-28 11:07:30,5659539,dusFzWJvp5cADhZW,View,가전·디지털,계절가전,전기히터·온풍기,Seoul,Android,100.0,54030
2022-12-29 08:14:39,5659540,bgy5ZGOszc4ADrmd,View,가구,화장대·콘솔,일반화장대,Iksan,iOS,0.0,0

In [25]:
(log.isnull().sum()/ log.shape[0]).sort_values(ascending=False)

category3          0.137821
geoip_city_name    0.073687
uid                0.032920
viewrate           0.000429
Unnamed: 0         0.000000
action_type        0.000000
category1          0.000000
category2          0.000000
useragent_os       0.000000
viewtime           0.000000
dtype: float64

In [51]:
log2 = log.copy()
log2.dropna(axis = 0, inplace =True)
log2

,Unnamed: 0,uid,action_type,category1,category2,category3,geoip_city_name,useragent_os,viewrate,viewtime
collect_time,,,,,,,,,,
2022-12-29 17:29:02,0,avpKyWMn/xEADNlb,View,주방용품,그릇·홈세트,식판·나눔접시,Seongnam-si,Windows,100.0,80033
2022-12-29 12:56:38,1,0+5vEmGkOuAAB5j2,Basket,패브릭,매트,주방·다용도매트,Yongin-si,Windows,0.0,0
2022-12-29 17:11:30,2,r8DXy2OtSl8AAojG,View,패브릭,커튼·부자재,암막커튼,Seoul,iOS,100.0,947
2022-12-29 17:54:30,3,dC9Fl2Ly9lcADrTn,Highlight,데코·식물,플라워·식물,화병·화분,Gwangmyeong-si,Windows,0.0,0
2022-12-29 18:45:05,4,09gKcGLg0I8ACyQy,View,가구,진열장·책장,책장,Jongno-gu,Mac OS X,100.0,1238
...,...,...,...,...,...,...,...,...,...,...
2022-12-28 20:01:30,5659536,PUpxWWMWdcIACR2B,View,주방용품,칼·커팅기구,채칼·다지기·강판,Seoul,Android,100.0,13893
2022-12-28 14:30:09,5659537,PVMstmNg4I4ADq9R,Basket,가구,진열장·책장,책장,Jinju,Windows,0.0,0
2022-12-29 12:45:13,5659538,diRXdmN49dUABrVo,View,가구,테이블·식탁·책상,식탁,Gunpo,Android,100.0,47217
2022-12-28 11:07:30,5659539,dusFzWJvp5cADhZW,View,가전·디지털,계절가전,전기히터·온풍기,Seoul,Android,100.0,54030
2022-12-29 08:14:39,5659540,bgy5ZGOszc4ADrmd,View,가구,화장대·콘솔,일반화장대,Iksan,iOS,0.0,0

In [52]:
(log2.isnull().sum()/ log.shape[0]).sort_values(ascending=False)

Unnamed: 0         0.0
uid                0.0
action_type        0.0
category1          0.0
category2          0.0
category3          0.0
geoip_city_name    0.0
useragent_os       0.0
viewrate           0.0
viewtime           0.0
dtype: float64

In [53]:
log2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4364999 entries, 2022-12-29 17:29:02 to 2022-12-29 08:14:39
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   uid              object
 2   action_type      object
 3   category1        object
 4   category2        object
 5   category3        object
 6   geoip_city_name  object
 7   useragent_os     object
 8   viewrate         float64
 9   viewtime         int64
dtypes: float64(1), int64(2), object(7)
memory usage: 366.3+ MB

In [54]:
log2 = log2[log2.viewrate > 0]

In [55]:
(log2['viewtime'] == 0).sum()

222

In [56]:
log2 = log2[log2.viewtime > 0]

In [57]:
log2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3412164 entries, 2022-12-29 17:29:02 to 2022-12-28 11:07:30
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   uid              object
 2   action_type      object
 3   category1        object
 4   category2        object
 5   category3        object
 6   geoip_city_name  object
 7   useragent_os     object
 8   viewrate         float64
 9   viewtime         int64
dtypes: float64(1), int64(2), object(7)
memory usage: 286.4+ MB

In [58]:
log2["Year"] = log2.index.year 
log2["Quarter"] = log2.index.quarter
log2["Month"] = log2.index.month
log2["Week"] = log2.index.week
log2["Weekday"] = log2.index.weekday
log2["Day"] = log2.index.day
log2["Dayofyear"] = log2.index.dayofyear
log2["Date"] = pd.DatetimeIndex(log2.index).date

<ipython-input-58-171162d14ed3>:4: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  log2["Week"] = log2.index.week

In [59]:
log2

,Unnamed: 0,uid,action_type,category1,category2,category3,geoip_city_name,useragent_os,viewrate,viewtime,Year,Quarter,Month,Week,Weekday,Day,Dayofyear,Date
collect_time,,,,,,,,,,,,,,,,,,
2022-12-29 17:29:02,0,avpKyWMn/xEADNlb,View,주방용품,그릇·홈세트,식판·나눔접시,Seongnam-si,Windows,100.0,80033,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 17:11:30,2,r8DXy2OtSl8AAojG,View,패브릭,커튼·부자재,암막커튼,Seoul,iOS,100.0,947,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 18:45:05,4,09gKcGLg0I8ACyQy,View,가구,진열장·책장,책장,Jongno-gu,Mac OS X,100.0,1238,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 15:32:12,7,tOQhrWGfQcAACo9B,View,가구,테이블·식탁·책상,책상,Gangnam-gu,Windows,100.0,8483,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 10:44:35,9,tuFJqmMTmj0AAIxD,View,가구,침대,침대프레임,Osan,Android,100.0,1215,2022,4,12,52,3,29,363,2022-12-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-29 12:45:14,5659533,3yfy5mOZpbYAAMpw,View,가전·디지털,주방가전,오븐·전자레인지,Gangnam-gu,Android,100.0,6054,2022,4,12,52,3,29,363,2022-12-29
2022-12-28 15:40:29,5659534,qE73wWOr1C8ABhBw,View,캠핑용품,캠핑생활용품,기타캠핑생활용품,Songpa-gu,Windows,100.0,10006,2022,4,12,52,2,28,362,2022-12-28
2022-12-28 20:01:30,5659536,PUpxWWMWdcIACR2B,View,주방용품,칼·커팅기구,채칼·다지기·강판,Seoul,Android,100.0,13893,2022,4,12,52,2,28,362,2022-12-28
2022-12-29 12:45:13,5659538,diRXdmN49dUABrVo,View,가구,테이블·식탁·책상,식탁,Gunpo,Android,100.0,47217,2022,4,12,52,3,29,363,2022-12-29
2022-12-28 11:07:30,5659539,dusFzWJvp5cADhZW,View,가전·디지털,계절가전,전기히터·온풍기,Seoul,Android,100.0,54030,2022,4,12,52,2,28,362,2022-12-28

In [69]:
log2['Date'].value_counts()

2022-12-26    489063
2022-12-27    469244
2022-12-28    444422
2022-12-22    438908
2022-12-29    429770
2022-12-23    388544
2022-12-25    307946
2022-12-24    249589
2022-12-30    194678
Name: Date, dtype: int64

In [73]:
log2['useragent_os'].value_counts()

Windows      2193936
Android       633654
iOS           361248
Mac OS X      216277
Linux           6030
Chrome OS        719
Ubuntu           140
Tizen            122
Other             26
CentOS            10
Fedora             2
Name: useragent_os, dtype: int64

In [71]:
group_ = ["Windows ", "Android", "iOS", "Mac OS X", "Linux", "Chrome OS", "Ubuntu", "Tizen", "Other", "CentOS", "Fedora"]


log3 = pd.DataFrame(log2.groupby(group_).viewtime.sum(), columns=["viewtime"])
log3 = log3.reset_index()
log3

KeyError: ignored